
﻿@using Nackademin23.Models.ViewModels
@using Nackademin23.Models.Pages

@model IPageViewModel<SitePageData>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta title="@Model.CurrentPage.MetaTitle" />
    <title></title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>